@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:'LINESeedKR-Rg';
    src:url('/fonts/LINE_SeedKR/Web/woff2/LINESeedKR-Rg.woff2') format('woff2');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: 'LINESeedKR-Rg', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@layer components {
	.input-autofill {
		@apply bg-[#FAFAFA] 
		text-[#22211F] 
		placeholder:text-[#767676]
		focus:bg-[#FFFFFF] 
		focus:outline-none
		focus:border-solid 
		focus:border-[3px] 
		focus:border-[#22211F]; 
		&:-webkit-autofill{
			-webkit-box-shadow: 0 0 0 1000px #FAFAFA inset;
			-webkit-text-fill-color: #22211F; 
			font-weight: 700;
			font-size: 1.125rem;
		}
		&:-webkit-autofill:focus {
			-webkit-box-shadow: 0 0 0 1000px #FAFAFA inset;
			-webkit-text-fill-color: #22211F; 
			font-weight: 700;
			font-size: 1.125rem;
			border: solid 3px #22211F;
		}
	}
}